/* typography */

@font-face {
  font-family: "Essays 1743";
  src: url("fonts/essays1743/Essays1743.eot?") format("eot"), url("fonts/essays1743/Essays1743.woff") format("woff"), url("fonts/essays1743/Essays1743.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-weight: bold;
  src: url("fonts/essays1743/Essays1743-Bold.eot?") format("eot"), url("fonts/essays1743/Essays1743-Bold.woff") format("woff"), url("fonts/essays1743/Essays1743-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-style: italic;
  src: url("fonts/essays1743/Essays1743-Italic.eot?") format("eot"), url("fonts/essays1743/Essays1743-Italic.woff") format("woff"), url("fonts/essays1743/Essays1743-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Essays 1743";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/essays1743/Essays1743-Bold-Italic.eot?") format("eot"), url("fonts/essays1743/Essays1743-Bold-Italic.woff") format("woff"), url("fonts/essays1743/Essays1743-Bold-Italic.ttf") format("truetype");
}