@font-face {
  font-family: "Libertine";
  src: url("fonts/libertine/Libertine.eot?") format("eot"), url("fonts/libertine/Libertine.woff") format("woff"), url("fonts/libertine/Libertine.ttf") format("truetype");
}
@font-face {
  font-family: "Libertine";
  font-weight: bold;
  src: url("fonts/libertine/Libertine-bold.eot?") format("eot"), url("fonts/libertine/Libertine-bold.woff") format("woff"), url("fonts/libertine/Libertine-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libertine";
  font-style: italic;
  src: url("fonts/libertine/Libertine-italic.eot?") format("eot"), url("fonts/libertine/Libertine-italic.woff") format("woff"), url("fonts/libertine/Libertine-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libertine";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/libertine/Libertine-bold-italic.eot?") format("eot"), url("fonts/libertine/Libertine-bold-italic.woff") format("woff"), url("fonts/libertine/Libertine-bold-italic.ttf") format("truetype");
}
