/* Page layout */
@import url("essays.css");

body {
    font-family: 'Essays 1743', sans-serif;
}

.node {
    line-height:.90em;
}

.node.script {
    font-style:italic;
}

.goldenspaceV{
    min-width :10px;
    min-height:16.1803398875px;
    max-width :10px;
    max-height:16.1803398875px;
}

.goldenspaceH{
    min-height :10px;
    min-width:16.1803398875px;
    max-height :10px;
    max-width:16.1803398875px;
}

.contents {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
