@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/licensed/font?kit=uEb9g7rDR2GPuAhKCzOeEeB4Z24prXaNWwDtdpqEAJU) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=WzRMu2gadTHU9vaeJV_XYuB4Z24prXaNWwDtdpqEAJU) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/licensed/font?kit=J_bUQvkwkSMpUHGD9_xIgPrzb4zw86I_zv9on6mZ3fM) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=upBfsM2rXKgm5wmeLsu6W_rzb4zw86I_zv9on6mZ3fM) format('woff');
}


