<!doctype html>
<html>
<head>
<meta charset="utf-8"/>

<link rel="stylesheet" type="text/css" href="css/main.css">

<link rel="stylesheet" type="text/css" href="artisanal-boxes-default.css">
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/numeric-1.2.6.min.js"></script>
<script src="artisanal-boxes.js"></script>

</head>
.contents

  .drawbox
    = Haml::Engine.new(File.read('logo.haml')).render

  <br><br>
  %h1 What is it?

  CSS artisans craft organic boxes for your website.
  The boxes are fluid and respond to window resizes.
  Let's see an example:

  .drawbox.inset
    = Haml::Engine.new(File.read('example.haml')).render

  The blocks are easily built up with a little bit of HAML.

  %pre.inset
    = File.read('example.haml')
</html>
