.vbox
  .node <a href="https://github.com/thoppe/artisanal-boxes.js">artisanal-boxes.js</a>
  .hbox
    .node [
    .vbox
      .node.script hand-crafted,
      .node.script premium &
    .node ]
    .node.goldenspaceV
    .node designed to
  .hbox
    .node fit your life.
    .node <img src="images/flower.svg">

    
