.drawbox
  .vbox
    .node artisanal-boxes.js
    .hbox
      .node [
      .vbox
        .node.script hand-crafted
        .node.script & premium
      .node ]
      .node.goldenspaceV
      .node designed to
    .node fit your life.
    
