.drawbox
  .vbox
    .node artisanal-boxes.js
    .hbox
      .node [
      .vbox
        .node hand-crafted
        .node premium
      .node ]
      .node.goldenspace
      .node designed to
    .node fit your life.
