.drawbox
  .vbox
    .node artisanal-boxes.js
    .hbox
      .node [
      .vbox
        .node <em>hand-crafted</em>
        .node <em>premium</em>
      .node ]
      .node.goldenspaceV
      .node designed to
    .node fit your life.
    
